<html>
  <head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Users and Interests</title>

    <link rel="stylesheet" href="/public/stylesheets/users_and_interests.css">
  </head>
  <body>
    <%= yield %>

    hello there i am working
  </body>
</html>
